
<div class="container">
    <ul class=breadcrumb>
        <li><a href="/">Home</a></li>
        <li class="active">
            <%= post.PTITLE %>
        </li>
    </ul>
    <h2>
        <%= post.PTITLE %>

    </h2>

    <p>
        <%= post.PCONTENT %>
    </p>
    <br>
    <hr>
</div>
